{% extends  'tasks/base.html' %}
{% load static %}
{% block content %}
<article>
<div class=article>
<div class=article__title>{{ title }}</div>
    <form method=post>
    {% csrf_token %}
    <div class=form__register>
    <div class=form-error>{{ form.non_field_errors }}</div>
    <br>
        <p class = "input-form">Ваш Email:</p>
        <p>{{ form.email }}</p>
    <div class=form-error>{{ form.errors }}</div>
    <br>
    <button type=submit class=form-btn>Сбросить пароль</button>
    </div>
</form>
</div>
</article>
{% endblock %}
