{% extends  'tasks/base.html' %}
{% load static %}
{% block content %}
<article>
<div class="article">
<div class="article__title">{{ title }}</div>

    {% if validlink %}
    <form method=post>
            {% csrf_token %}
            <p class=form__register>
            <br>
                <div class=form-error>{{ form.new_password1.errors }}</div>
                <p class = "input-form">Введите новый пароль:</p>
                <p>{{ form.new_password1 }}</p>
            <br>
                <div class=form-error>{{ form.new_password2.errors }}</div>
                <p class = "input-form">Повторите свой пароль:</p>
                <p>{{ form.new_password2 }}</p>
            <br>
        <button type=submit class=form-btn>Сменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}

</div>
</article>
{% endblock %}


