{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
<article>
    <div class="article">
        <div class="article__title">{{ title }}</div>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <p class="form__register"><br>
                <div class="form-error">{{ form.new_password1.errors }}</div>
                <p class="input-form">Enter a new password:</p>
                <p>{{ form.new_password1 }}</p><br>
                <div class="form-error">{{ form.new_password2.errors }}</div>
                <p class="input-form">Repeat your password:</p>
                <p>{{ form.new_password2 }}</p><br>
                <button type="submit" class="form-btn">Change password</button>
            </form>
        {% else %}
            <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</article>
{% endblock %}