
/* ------------------SETTINGS------------------ */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
    background-color: #1f2326;
}


.container{
    width: 1500px;
    margin: 0 auto;
    background-color: #0f1012;
    box-shadow: 0px 0px 25px #000;
    min-height: 65%;
}

.advertising__block{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #33d163;    
    text-shadow: 1px 1px 5px #33d163;
    text-align: center;
    position: absolute;
    width: 175px;
    top: 205px;
    left: 4px;
}

.advertising__block:hover{
    color: #6e00be;
    text-shadow: 1px 1px 5px #6e00be;
    transition: .2s linear;
}

.advertising__block::before{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #6e00be;
    position: absolute;
    top: -10px;
    box-shadow: 0px 0px 10px #6e00be;
}

.advertising__block::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #33d163;
    position: absolute;
    bottom: -10px;
    box-shadow: 0px 0px 10px #33d163;
}


.advertising__block__image{
    background: url('/static/tasks/images/citydrive.jpg') no-repeat;
    background-size: contain;
    border-radius: 10px;
    margin-top: 5px;
    width: 175px;
    height: 175px;
}

.advertising__block__image:hover{
    background: url('/static/tasks/images/citydrive.gif') no-repeat;
    background-size: contain;
    border-radius: 10px;
    transition: .2s linear;
}

      #zatemnenie {
        z-index: 1000;
        background: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 25%;
        height: 75%;
        text-align: center;
        padding: 15px;
        border: 10px solid #6e00be;
        border-radius: 10px;
        color: #6e00be;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #f2f2f2;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 700;
      }

#okno li{
    margin-bottom: 20px;
    position: relative;
    padding: 0 20px;
    text-align: left;
    display: flex;
    align-items: center;
}

#okno li::before{
    content: "1";
    text-align: center;
    padding-top: 5px;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #d5d1ce;
    position: absolute;
    left: -10px;
}
#okno li:nth-child(2)::before{
    content: "2";
}
#okno li:nth-child(3)::before{
    content: "3";
}
#okno li:last-child::before{
    content: "4";
}
#heading__advertising__block__content{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}
#okno span{
    display: inline-block;
    font-size: 40px;
    color: #33d163;
    text-shadow: 1px 1px 5px #33d163;
    margin-bottom: 20px;
}

.advertising__block__img{
    display: flex;
    justify-content: space-around;
}

.advertising__block__img a{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #33d163;
    box-shadow: 3px 3px 1px #33d163;
    background-color: #6e00be;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.advertising__block__img img{
    filter: invert(1);
    width: 50px;
    height: 50px;
}

.advertising__block__img b{
    position: relative;
    top: 10px;
    font-size: 20px;
}

.advertising__block__img a:hover{
    border-color: #6e00be;
    box-shadow: 3px 3px 1px #6e00be;
    background-color: #33d163;
    transition: .2s linear;
}

#heading__advertising__block__images{
    margin-bottom: 0;
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

#heading__advertising__block__images span{
    color: #6e00be;
    font-size: 27px;
    font-weight: 900;
    text-shadow: 1px 1px 3px #6e00be;
    margin-bottom: 50px;
}
#heading__advertising__block__images b{
    color: #33d163;
    text-shadow: 1px 1px 3px #33d163;
}
.close{
     position: absolute;
     display: block;
     right: 0;
     top: 0;
     padding-right: 20px;
     padding-top: 20px;
     font-size: 50px;
     text-shadow: 3px 3px 1px #33d163;
    }
.close:active{
    color: #33d163;
}


/* ------------------HEADER------------------ */


.header{
    width: 100%;
    height: 100px;
    background-color: #0f1012;
    background: url('/static/tasks/images/header_image.jpg');
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}


.header:after{
    content: "";
    display: block;
    height: 100px;
    width: 100%;
    background-color: #000;
    position: absolute;
    opacity: .8;
    z-index: -1;
}

.header__logo,
.header__logo img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.header__logo{
    background-color: #fff;
    font-size: 10px;
    color: #000;
}

.header__title{ 
    color: #fc490b;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}

.header__title p{
    text-shadow: 0px 0px 10px #fc490b;  
}

.header__title span{
    position: relative;
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    text-shadow: 1px 1px 2px #fc490b;
}

.header__title span:hover{
    color: #fc490b;
    transition: .2s linear;
}


.header__title span:before,
.header__title span:hover:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fc490b;
    box-shadow: 0px 2px 1px #fff;
    position: absolute;
    bottom: -8px;
}

.header__title span:hover:after{
    background-color: #fff;
    box-shadow: 0px 2px 1px #fc490b;
    animation-name: anim_heafer_title;
    animation-duration: 1s;
}

@keyframes anim_heafer_title { /* Animation for header__title */
    0% {
       width: 0%; 
    }
    100% {
       width: 100%; 
    }
}

.header-auth{
    display: flex;
    font-size: 20px;
}

.header-auth a{
    color: #fff;
    text-shadow: 1px 1px 2px #fc490b;
    padding: 0 5px;
}

.header-auth a:first-child{
    padding-left: 0;
}

.header-auth a:last-child{
    padding-right: 0;
}

.header-auth a:hover{
    color: #fc490b;
    transition: .2s linear;
}

.header-auth span{
    color: #ff8130;
    text-shadow: 1px 1px 2px #fc490b;
    padding-right: 5px;
}

/* ------------------NAVIGATION------------------ */

.nav{
    width: 100%;
    height: 50px;
    background-color: #ff8130;
    box-shadow: 2px 2px 5px #ff6433;
    display: flex;
}

.nav__container{
    width: 1500px;
    margin: 0 auto;
    display: flex;
}


.nav a{
    height: 50px;
    width: 100%;
    border-right: 5px solid #0f1012;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.nav a:first-child{
    border-left: 5px solid #0f1012;;
}

.nav a:active{
    color: #ff8130;
    background: #fff;
}

@keyframes anim__nav {
  0% {
    left: 0px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.nav a:after {
    content: "";
    display: block;
    width: 20px;
    height: 100px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: -50px;
    transform: rotate(45deg);
    box-shadow: 10px 10px 50px #fff;
}

.nav a:hover:after{ /* Animation for nav-element */
    transition: all 0.1s;
    animation-name: anim__nav;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-timing-function: linear;
}


/* ------------------ARTICLE------------------ */

.article{
    text-align: center;
    padding-top: 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}

.article__title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #ff8130;
    text-shadow: 2px 1px 5px #ff461c;
    margin-bottom: 20px;
}

.article__title::after,
.article__title::before
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff461c;
    box-shadow: 0px 0px 10px #ff461c;
    position: relative;
    bottom: -5px;
}

.article__title::before{
    bottom: 5px;
}

/* ------------------INDEX_PAGE------------------ */

.article__mainText{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    line-height: 1.3;
    text-shadow: 1px 1px 5px #ff9d04;
    padding: 25px 100px 0 100px;
}

.article__mainText span{
    position: relative;
    color: #ff8130;
    font-weight: 600;
    text-shadow: 1px 1px 5px #ff461c;
}

.article__category{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #ff8130;
    text-shadow: 2px 1px 5px #ff461c;
}


.article__category__grid{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.article__category__block{
    height: 315px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f7c642;
    position: relative;
    color: #fff;
}

.article__category__image,
.article__category__block::after{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 315px;
    opacity: 0;
    z-index: 1;
}  

.article__category__block::after{
    content: "";
    display: block;
    background: linear-gradient(#fbb405, #e5450e);
}

.article__category__block:hover
.article__category__image,
.article__category__block:hover::after{
    transform: translate(-10px,-10px);
    transition: .1s linear;
    opacity: 1;
}

.article__category__block:hover::after{
    opacity: .8;
}


.article__category__block span{
    font-size: 35px;
    font-weight: 700;
    z-index: 2;
}

/* ------------------TASKS_PAGE------------------ */

.article__tasks__grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.article__tasks__block{
    width: 49%;
    min-height: 200px;
    position: relative;
    border: 5px solid #ff8130;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px #ff9d04;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.article__tasks__block__num_of_task{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #ff9d04;
}

.article__tasks__block__num_of_task::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fbae08;
    box-shadow: 0px 2px 3px #fbae08;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.article__tasks__block__difficult{
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    top: 10px;
    right: 20px;
    font-size: 25px;
    font-weight: 700;
}

.article__tasks__block__points{
    position: absolute;
    text-align: center;
    padding-top: 5px;
    top: 0;
    right: 0;
    width: 250px;
    height: 50px;
    top: 45px;
    border-left: 3px solid #fbae08;
    border-bottom: 3px solid #fbae08;
    box-shadow: 0px 2px 3px #fbae08;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.article__tasks__block__points span{
    font-weight: 900;
    color: #ff8130;
}

.article__tasks__block__description{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    width: 60%;
    margin: auto 0;
}

.article__tasks__block__theme{
    padding-left: 20px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #ff9d04;
    text-shadow: 1px 1px 2px #ff9d04;
}

.article__tasks__block__description a{
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
    word-break: keep-all;
    margin-top: 5px;
}

.article__tasks__block__description a:hover{
    color: #ff461c;
    transition: .2s linear;
}

.article__tasks__block__description a::before{
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #ff461c;
    border-radius: 50%;
    left: 10px;
}

.article__tasks__block__btn,
.form-btn,
.form-btn-comment{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 50px;
    background: linear-gradient(20deg,#00bf08,#174c1e);
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
}

.article__tasks__block__btn:active,
.form-btn:active,
.form-btn-comment:active{
    color: #00bf08;
    background: #fff;    
}


@keyframes slideme3 {
  0% {
    left: 0px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.article__tasks__block__btn:after,
.form-btn:after ,
.form-btn-comment:after{
    content: "";
    display: block;
    width: 10px;
    height: 100px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: -50px;
    transform: rotate(45deg);
    box-shadow: 10px 10px 50px #fff;
}

.article__tasks__block__btn:hover:after,
.form-btn:hover:after,
.form-btn-comment:hover:after{
    transition: all 0.1s;
    animation-name: slideme3;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-timing-function: linear;
}

.task_part{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}


/* ------------------OPTIONS_PAGE------------------ */

.article__options__block{
    width: 49%;
    min-height: 200px;
    position: relative;
    border: 5px solid #1ee2f1;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px #1ee2f1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.article__options__description{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 20px 70px 20px;
    word-break: break-all;
}

.article__options__block__num_of_option{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #e31a7a;
}

.article__options__block__num_of_option::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e31a7a;
    box-shadow: 1px 1px 10px #e31a7a;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.article__options__block__btn{
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 50px;
    background: linear-gradient(20deg,#4f5de0,#18adf2);
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
}

.article__options__block__btn:active{
    color: #18adf2;
    background: #fff;    
}


@keyframes slideme3 {
  0% {
    left: 0px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.article__options__block__btn:after {
    content: "";
    display: block;
    width: 10px;
    height: 100px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: -50px;
    transform: rotate(45deg);
    box-shadow: 10px 10px 50px #fff;
}

.article__options__block__btn:hover:after{
    transition: all 0.1s;
    animation-name: slideme3;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-timing-function: linear;
}

.article__options__date{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

.article__options__date span{
    font-weight: 800;
    text-shadow: 1px 1px 5px #1ee2f1;
}

.article__options__video{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 20px;
    bottom: 10px;
    display: flex;
    align-items: center;
}

.article__options__video span,
.article__task__video span{
    color: #a80e52;
    text-transform: uppercase;
    margin-left: 10px;
}

.article__options__video img
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
}

.article__task__video{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 10px;
    bottom: -40px;
    display: flex;
    align-items: center;
}

.article__task__video img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
}


/* ------------------TASK_SOLUTION_PAGE------------------ */

.article__task__grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

.article__task__block{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.article__task__block__title{
    position: absolute;
    top: 0;
    top: 5px;
    opacity: .6;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-top: 3px;
}

.article__task__block__question,
.article__option__block__question{
    padding: 30px 0 20px 0;
    padding-left: 20px;  
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: auto;
    position: relative;
    border: 5px solid #3cae5a;
    box-shadow: 1px 1px 10px #3cae5a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.article__task__block__question a{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 0;
    box-shadow: 0px 0px 15px #fff;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 13px;
}

.article__task__block__solution,
.article__option__block__solution{
    width: 100%;
    height: auto;
    border: 5px solid #3cae5a;
    box-shadow: 1px 1px 10px #3cae5a;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 30px;
    position: relative;
    padding-bottom: 75px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.article__task__block__solution__title{
    position: absolute;
    top: 0;
    top: 5px;
    opacity: .6;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding-top: 5px;
}

.article__task__block__answer{
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    background-color: #1f2326;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 10px;
    font-weight: 700;
}

.answer__title{
    margin-right: 20px;
}


.article__task__block__video{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    bottom: -3px;
}

.article__task__block__form,
.article__option__block__form{
    display: flex;
    align-items: center;
    border: 5px solid #3cae5a;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 10px #3cae5a;
}

.article__task__block__question img,
.article__option__block__question img{
    background-color: #fff;
}

.article__task__block__input{
    display: flex;
    width: 490px;
    align-items: center;
    justify-content: space-between;
}

.article__task__block__question a{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #fff;
    width: 70px;
    top: 13px;
    height: 50px;
    text-align: center;
}

.article__task__block__question a img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 13%;
}


.article__task__block__solution a .toclose{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #fff;
    width: 70px;
    top: -70px;
    height: 50px;
}

table{
    text-align: center;
    width: 600px;
}

td,th {
    border: 2px solid #fff;
    padding: 10px;
}

.date_table{
    display: flex;
    flex-direction: column;
}

.task_page,
.task_page_option{
    height: 35px;
    width: 20%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(390%,0);
    text-shadow: 1px 1px 5px #ff461c;
    border: 5px solid #ff461c;
    box-shadow: 1px 1px 10px #ff461c;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


/* ------------------OPTION_SOLUTION_PAGE------------------ */

.article__option__block__question{
    box-shadow: 1px 1px 10px #1ee2f1;
    border: 5px solid #1ee2f1;
}

.article__option__block__solution{
    box-shadow: 1px 1px 10px #1ee2f1;
    border: 5px solid #1ee2f1;
    border-top: none;
}

.article__option__block__number_task{
    height: 35px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translate(10%,0px);
    text-shadow: 1px 1px 5px #e31a7a;
    border: 5px solid #e31a7a;
    box-shadow: 1px 1px 10px #e31a7a;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.article__option__block__form{
    box-shadow: 1px 1px 10px #e31a7a;
    border: 5px solid #e31a7a;
    border-top: 0;
}

.task_page_option{
    position: relative;
    bottom: -35px;
}

.status_answer_option{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;
}


#result{
    color: #ff461c;
    font-size: 25px;
    text-shadow: 1px 1px 3px #ff461c;
}

#option_result_btn,
.option_result{
    margin-bottom: 50px;
    font-weight: 700;
}

.option_part{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#progress-bar{
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 5px;
    width: 50%;
}

/* ------------------FUNC_OPEN-CLOSE------------------ */

.accordion {   
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 50px;
  position: absolute;
  right: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}

/* -----------------INPUT_ANSWER_TASK------------------ */

.text_answer{
    width: 236px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn_answer{
    height: 40px;
    padding: 0 15px;
    background-color: #1f2326;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    opacity: .6;
    cursor: pointer;
}

.btn_answer:hover{
    opacity: .9;
}


.status_answer{
    color: green;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    display: none;
}

/* ------------------REGISTER-FORM------------------ */


.form__register{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;
    text-align: center;
}

.form-label-reg,
.form-label-auth{
    display: inline-block;
    min-width: 300px;
    vertical-align: top;
    font-size: 30px;
    font-weight: 600;
    color: #ff8130;
    text-shadow: 2px 1px 5px #ff461c;  
    text-align: start;
    margin-bottom: 10px;
}

.form-label-auth{
    min-width: 150px;
}

.form-input,
#id_email,
#id_new_password1,
#id_new_password2{
    height: 50px;
    width: 35%;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    border-radius: 10px;
    background: linear-gradient(20deg,#ff9d04,#ff8130); 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px #ff9d04 inset !important;
}

.form-btn{
    position: relative;
    margin: 0 auto;
    background: linear-gradient(20deg,#ff9d04,#ff8130); 
    margin-top: 25px;
}

.form-reset-password,
#password-done-auth{
    color: #fff;
    font-weight: 700;
}

.form-reset-password:hover,
#password-done-auth:hover{
    color: #ff461c;
    transition: .2s linear;
}

.input-form{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

/* ------------------COMMENT-FORM------------------ */

.comment-not-auth{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}

.comment-not-auth a{
    margin-top: 5px;
    color: #ff9d04;
}

.comment-not-auth a:hover{
    transition: .2s linear;
    color: #ff461c;
}

.comment-form{
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    padding-left: 10px;
    padding-top: 20px;
}

.form-input-comment{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    resize: none;
    width: 50%;
    height: 50px;
    max-width: 90%;
    max-height: 50px;
    padding: 5px;
}

#edited{
    display: inline-block;
    color: #ff461c;
    text-shadow: 1px 1px 3px #ff461c;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 13px;
    padding-right: 10px;
}

.comment-form span{
    font-weight: 600;
    font-size: 25px;
}

.form-btn-comment{
    position: relative;
    margin-top: 20px;
    background: linear-gradient(20deg,#ff9d04,#ff8130); 
}

.comments{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-block{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    color: #fff;
    height: auto;
    border: 5px solid #ff9d04;
    margin-bottom: 15px;
    text-align: start;
    padding: 10px;
    border-radius: 10px;
    word-break: break-all;
}

.comment-block-name{
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

#user_admin{
    color: #e31a7a;
    text-shadow: 1px 1px 3px #e31a7a;
    text-transform: uppercase;
}

#user_moderator{
    color: #3cae5a;
    text-shadow: 1px 1px 3px #3cae5a;
    text-transform: uppercase;
}

#user_user{
    color: #1ee2f1;
    text-shadow: 1px 1px 3px #1ee2f1;
    text-transform: uppercase;
}

.comment-block-data{
    font-weight: 600;
    font-size: 18px;
}

.comment-block-data span{
    display: inline-block;
    text-shadow: 1px 1px 3px #ff8130;
    margin-bottom: 5px;
}

/* ------------------PAGINATOR------------------ */

.list-pages {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}

.page-num,
.page-num-selected {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #fc490b;
	border: 3px solid #fbae08;
	border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fbae08;
}

.page-num-selected {
	color: #fc490b;
    background-color: #fbae08;
    border-color: #fc490b;
}


/* ------------------TASK-PAGE------------------ */

.task_page_block{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 0;
    word-break: keep-all;
}

.task_page_block_img{
    background-color: #fff;
    position: relative;
    right: -10px;
}


.task_page_block_title{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
}

.task_page_block_content{
    margin-bottom: 10px;
    text-align: start;
    padding-left: 10px;
}

.task_page_block_title::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #ff8130;
    position: relative;
    top: -5px;
}

.task_page_block_answer{
    margin-top: 25px;
    color: #ff8130;
    text-shadow: 1px 1px 2px #fc490b;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
    text-align: start;
    padding-left: 10px;
}

.task_page_block_answer span{
    color: #fff;
    text-shadow: none;
}

.task_page_block_answer::before,
.task_page_block_answer::after{
    content: '';
    display: block;
    width: 1000%;
    height: 5px;
    background: #ff8130;
    position: relative;
    top: -15px;
    left: -10px;
}

.task_page_block_answer::after{
    top: 15px;
}

.task_page_block a{
    position: relative;
    width: 45px;
}


/* ------------------FOOTER------------------ */

.footer__main{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 5px;
    background-color: #0f1012;
    align-items: center;
    overflow: hidden;
}

.footer__block{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center; 
    color: #fff;
    text-shadow: 1px 1px 2px #fc490b;
    font-size: 16px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}


.footer__block span{
    font-size: 20px;
    color: #fbae08;
}

.footer__block a{
    color: #fff;
    text-shadow: 1px 1px 2px #fc490b;
    font-size: 16px;
    word-break: break-all;
}

.footer__block:nth-child(2)::before{
    content: "";
    display: block;
    width: 3px;
    height: 1000%;
    background-color: #ff461c;
    box-shadow: 0px 0px 10px #ff461c;
    position: absolute;
    left: 0;
    top: -100px;
}

.footer__block:nth-child(2)::after{
    content: "";
    display: block;
    width: 3px;
    height: 1000%;
    background-color: #ff461c;
    box-shadow: 0px 0px 10px #ff461c;
    position: absolute;
    right: 0;
    top: -100px;
}

.footer__block a:hover,
.footer__submain a:hover{
    color: #fc490b;
}

.footer__main::before,
.footer__main::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff461c;
    box-shadow: 0px 0px 10px #ff461c;
    position: absolute;
    bottom: 0;
}

.footer__main::after{
    top: 0;
}

.footer__social{
    display: flex;
    margin-top: 10px;
}

.footer__social a{
    margin-right: 10px;
}

.footer__social a:hover{
    transform: translateY(-5px);
    transition: .1s linear;
}

.footer__social a:last-child{
    margin-right: 0;
}

.footer__social a img{
    width: 30px;
    height: 30px;
}

#footer__description__header{
    color: #fc490b;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0px 0px 10px #fc490b;  
    margin-bottom: 5px;
}

.footer__submain{
    width: 100%;
    height: 25px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
}

.footer__submain a{
    color: #fff;
    text-shadow: 1px 1px 1px #fc490b;
}


/* ------------------THEORY------------------ */


.article__theory__mainblock{
    width: 49%;
    position: relative;
    border: 5px solid #00bf08;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px #00bf08;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-bottom: 5px;
}

.article__theory__mainblock p{
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #fc490b;
    text-shadow: 1px 1px 4px #00bf08;
}

.article__theory__mainblock a{
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 4px #fc490b;
    position: relative;
    margin-bottom: 10px;
}

.article__theory__mainblock a:hover{
    color: #fc490b;
    transition: .1s linear;
}


